canvas{
    margin: 0;
    padding: 0;
    display: block;

}

html, body{
    font-family: 'Helvetica', 'Arial', sans-serif;
    color:black;
    padding: 0;
    margin: 0;
    max-height: 100vh;
    transform: translateZ(0);
}

body{
    overflow: hidden;
    background: #eee;
}

.bodyNightMode{
    color:white;
    background: #000;
}



.button-icons {
    width: 30px;
    filter: invert(100%);
    padding: 0;
    margin: 0;
    transition: filter 0.2s ease-in-out;
}

button.nightMode .button-icons {
    filter: none;
}

#buttons {
    flex-direction: row;
    position: absolute;
    width: 100vw;
}

.buttons div {
    flex-direction: row;
}

.buttonsRight div {
    display: inline-flex;
    margin : 0px;
}

.buttonsLeft div {
    display: inline-flex;
    margin : 0px;
}

.buttonsLeft {
    position: absolute;
    left: 0px;
    margin-top: 0px;
    display: flex;
    flex-direction: column;
}

.buttonsRight {
    position: absolute;
    right: 0;
    margin-top: 0px;
    display: flex;
    flex-direction: column;
}

#buttons button {
    margin: 0px;
    padding: 10px;
    text-decoration: none;
    border: none;
    background-color: transparent;
    -webkit-transition: background-color 0.2s ease-in-out;
    -moz-transition: background-color 0.2s ease-in-out;
    -ms-transition: background-color 0.2s ease-in-out;
    -o-transition: background-color 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out;
    color: white;
}

#buttons button:focus {
    outline: 0;
}

#buttons button:hover {
    cursor: pointer;
    background-color:#000;
}

#buttons button.nightMode:hover {
    cursor: pointer;
    background-color:#eee;
}

#buttons button:hover .button-icons {
    filter: none;
}

#buttons button.nightMode:hover .button-icons {
    filter: invert(100%);
}

:root{
    --balloon-color: rgba(230, 109, 100, 0.973);
    --balloon-font-size: 18px;
}


input[type=range] {
    height: 25px;
    -webkit-appearance: none;
    margin: 10px 0;
    background: transparent;
    width: 100%;
  }
  input[type=range]:focus {
    outline: none;
  }
  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    box-shadow: 0px 0px 0px #000000;
    background: #e66d64;
    border-radius: 17px;
    border: 0px solid #000000;
  }
  input[type=range]::-webkit-slider-thumb {
    box-shadow: 0px 0px 10px rgb(0, 0, 0);
    border: 1px solid #8A413C;
    height: 18px;
    width: 18px;
    border-radius: 25px;
    background: #FFFFFF;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -7px;
  }
  input[type=range]:focus::-webkit-slider-runnable-track {
    background: #e66d64;
  }
  input[type=range]::-moz-range-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    box-shadow: 0px 0px 0px #000000;
    background: #e66d64;
    border-radius: 17px;
    border: 0px solid #000000;
  }
  input[type=range]::-moz-range-thumb {
    box-shadow: 0px 0px 10px #FFFFFF;
    border: 1px solid #8A413C;
    height: 18px;
    width: 18px;
    border-radius: 25px;
    background: #FFFFFF;
    cursor: pointer;
  }
  input[type=range]::-ms-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
  input[type=range]::-ms-fill-lower {
    background: #e66d64;
    border: 0px solid #000000;
    border-radius: 34px;
    box-shadow: 0px 0px 0px #000000;
  }
  input[type=range]::-ms-fill-upper {
    background: #e66d64;
    border: 0px solid #000000;
    border-radius: 34px;
    box-shadow: 0px 0px 0px #000000;
  }
  input[type=range]::-ms-thumb {
    margin-top: 1px;
    box-shadow: 0px 0px 10px #FFFFFF;
    border: 1px solid #8A413C;
    height: 18px;
    width: 18px;
    border-radius: 25px;
    background: #FFFFFF;
    cursor: pointer;
  }
  input[type=range]:focus::-ms-fill-lower {
    background: #e66d64;
  }
  input[type=range]:focus::-ms-fill-upper {
    background: #e66d64;
  } 

  @media only screen and (max-width: 600px) {
    html, body {
      font-size: 14px;
    }
  }