#canvas {
    position: absolute;
    background: transparent;
    left: 0;
    z-index: 0;
}

#help-splash {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: #00B4DB;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0083B0, #00B4DB);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0083B0, #00B4DB);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    opacity: 0;
    z-index: -1;
    overflow-y: scroll;
    transition: opacity 400ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
}

#help-splash .info{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0 5%;
}

#help-splash .info ul{
    list-style: none;   
}

#help-splash .info li{
    margin: 30px 0;
    height: 40px;
    display: flex;
    flex-direction: row;
}

#help-splash .info li p{
    margin: 10px 0 0 15px;
}


#help-splash .title{
    display: flex;
    justify-content: center;
}

#help-splash .title h1{
    font-weight: 200;
    font-size: 30px;
}

#help-splash.display-help{
    opacity: 1;
     z-index: 3;
    transition: opacity 400ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
}

#close-help{
    position: fixed;
    left: 0;
    padding: 15px;
    color: white;
    background: transparent;
    border:none;
    transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
}

#close-help:focus {
    outline: 0;
}

#close-help:hover {
    cursor: pointer;
    transform: scale(1.2);
}

#close-help:active {
    transform: scale(0.95);

}

#NNcanvas {
    position: absolute;
    right: 0;
    background: transparent;
    bottom: 0;
    z-index: -1;
}

body {
    font-family: 'Helvetica', 'Arial', sans-serif;
    color: white;
    padding: 0;
    margin: 0;
    background: black;
}

footer {
    position: absolute;
    bottom: 0;
}

.button-icons {
    width: 40px;
}

.ackerman {
    display: block;
    width: 40px;
}

.tank {
    display: none;
    width: 40px;
}

.turntype .ackerman {
    display: none;
}

.turntype .tank {
    display: block;
}

#program {
    color: white;
    position: absolute;
    font-size: 14px;
    top: 150px;
    left: 10px;
}


#buttons {
    display: flex;
    flex-direction: row;
    margin-bottom: 100px;
    position: absolute;
    width: 100vw;
}

.buttons div {
    display: flex;
    flex-direction: row;
}

.buttonsRight div {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.buttonsLeft {
    position: absolute;
    left: 0;
}

.buttonsRight {
    position: absolute;
    right: 0;
}

#buttons button {
    -webkit-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    -moz-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    -ms-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    -o-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    margin: 5px 10px;
    text-decoration: none;
    border: none;
    background: transparent;
    color: white;
}

#buttons button:focus {
    outline: 0;
}

#buttons button:hover {
    cursor: pointer;
    transform: scale(1.2);
}

#buttons button:active {
    transform: scale(0.95);

}

/*Inputs*/
input[type="number"] {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

.number-input {
    border: 2px solid #ddd;
    display: inline-flex;
}

.number-input,
.number-input * {
    box-sizing: border-box;
}

.number-input button {
    outline: none;
    -webkit-appearance: none;
    border: none;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    cursor: pointer;
    margin: 0;
    position: relative;
}

.number-input button:before,
.number-input button:after {
    display: inline-block;
    position: absolute;
    content: '';
    width: 1rem;
    height: 2px;
    background-color: #212121;
    transform: translate(-50%, -50%);
}

.number-input button.plus:after {
    transform: translate(-50%, -50%) rotate(90deg);
}

.number-input input[type=number] {
    font-family: sans-serif;
    max-width: 5rem;
    padding: .5rem;
    border: solid #ddd;
    border-width: 0 2px;
    font-size: 16px;
    height: 30px;
    text-align: center;
}