canvas {
    position: fixed;
    left: 0;
    top: 0;
    z-index: -1;
    background: black;
}

body {
    font-family: 'Helvetica', 'Arial', sans-serif;
    color: #444444;
}

main {
    color: white;
}
