#canvas {
    position: absolute;
    background: black;
    left: 0;
    z-index: 0;
}

#NNcanvas{
    position: absolute;
    right: 0;
    background: transparent;
    bottom: 0;
}

body {
    font-family: 'Helvetica', 'Arial', sans-serif;
    color: white;
    padding: 0;
    margin: 0;
    background: black;
}

footer{
    position: absolute;
    bottom: 0;
}

.button-icons{
    width: 40px;
}

.ackerman{
    display: block;
    width: 40px; 
}

.tank{
    display: none;
     width: 40px; 
}

.turntype .ackerman{
    display: none;
}

.turntype .tank{
    display: block;
}

#program {
    color: white;
    position: absolute;
    font-size: 14px;
    top: 150px;
    left: 10px;
}


#buttons {
    display: flex;
    flex-direction: row;
    margin-bottom: 100px;
    position: absolute;
    width: 100vw;
}

.buttons div {
    display: flex;
    flex-direction: row;
}

.buttonsRight div {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.buttonsLeft {
    position: absolute;
    left: 0;
}

.buttonsRight {
    position: absolute;
    right: 0;
}

#buttons button {
    -webkit-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    -moz-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    -ms-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    -o-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    margin: 5px 10px;
    text-decoration: none;
    border: none;
    background: transparent;
    color: white;
}

#buttons button:focus {
    outline: 0;
}

#buttons button:hover {
    cursor: pointer;
    transform: scale(1.2);
}

#buttons button:active {
    transform: scale(0.95);

}

/*Inputs*/
input[type="number"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.number-input {
  border: 2px solid #ddd;
  display: inline-flex;
}

.number-input,
.number-input * {
  box-sizing: border-box;
}

.number-input button {
  outline:none;
  -webkit-appearance: none;
  border: none;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  cursor: pointer;
  margin: 0;
  position: relative;
}

.number-input button:before,
.number-input button:after {
  display: inline-block;
  position: absolute;
  content: '';
  width: 1rem;
  height: 2px;
  background-color: #212121;
  transform: translate(-50%, -50%);
}
.number-input button.plus:after {
  transform: translate(-50%, -50%) rotate(90deg);
}

.number-input input[type=number] {
  font-family: sans-serif;
  max-width: 5rem;
  padding: .5rem;
  border: solid #ddd;
  border-width: 0 2px;
  font-size: 16px;
  height: 30px;
  text-align: center;
}