svg {
    position: relative;
}

.node {
    stroke-width: 1.5px;
}

.node.INPUT {
    fill: #ff6666;
    stroke: #ff4d4d;
}

.node.BIAS {
    fill: #ff6666;
    stroke: #ff4d4d;
}

.node.OUTPUT {
    fill: #ff8c66;
    stroke: #ff794d;
}

.link {
    marker-end: url(#end-arrow);
}

.label {
    fill: #CCCCCC;
    font-size: 12px;
    font-family: Arial;
}

#end-arrow {
    opacity: 0.4;
}