.menu-btn {
    background: #000;
    width: 100%;
    height: 100%;
    position: relative;
    text-align: left;
}

.menu-btn:after {
    content: '';
    position: absolute;
    width: 70%;
    height: 5%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #eee;
    border-radius: 9999px;
    transition: width 0.25s ease;
}

.menu-btn span {
    position: absolute;
    left: 50%;
    width: 50%;
    height: 5%;
    transform: translate(-50%, -50%);
    transition: top 0.25s ease, left 0.25s ease;
}

.menu-btn span:nth-child(1) {
    top: 25%;
}

.menu-btn span:nth-child(2) {
    top: 75%;
}

.menu-btn span:after,
.menu-btn span:before {
    content: '';
    width: 50%;
    height: 100%;
    position: absolute;
    background: #eee;
    transform: rotate(0deg) scaleX(1);
    transition: transform 0.25s ease;
}

.menu-btn span:nth-child(1):after {
    transform-origin: right;
}

.menu-btn span:nth-child(1):before {
    transform-origin: left;
}

.menu-btn span:nth-child(2):before {
    transform-origin: left;
}

.menu-btn span:nth-child(2):after {
    transform-origin: right;
}

.menu-btn span:after {
    border-radius: 9999px 0 0 9999px;
}

.menu-btn span:before {
    border-radius: 0 9999px 9999px 0;
    left: 50%;
}

.open .menu-btn:after {
    width: 0;
}

.open .menu-btn span {
    top: 50%;
}

.open .menu-btn span:nth-child(1):after {
    transform: rotate(45deg) scaleX(1.25);
}

.open .menu-btn span:nth-child(1):before {
    transform: rotate(-45deg) scaleX(1.25);
}

.open .menu-btn span:nth-child(2):before {
    transform: rotate(45deg) scaleX(1.25);
}

.open .menu-btn span:nth-child(2):after {
    transform: rotate(-45deg) scaleX(1.25);
}